.smex-items
*~$
places
.recentf
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
ido.last
ido.last~
elpa/*
recentf~
recentf
.mc-lists.el
.org-id-locations
custom.el
server/*
org-clock-save.el
README.html
eshell/*
transient/*
jar/*
*.elc
straight/*
!straight/versions
eln-cache
tree-sit-repos
tree-sitter
.cache
ielm-history.eld